@model IEnumerable<cellphones.Models.Order>

@{
    ViewBag.Title = "Order";
    @Styles.Render("~/Content/main.css");
}
<div class="search-container">
    <div class="search-form-container" style="display: flex; flex-direction: row;margin:auto">
        @using (Html.BeginForm("Search", "Admin", FormMethod.Get, new { @class = "search-form" }))
        {
            <input type="text" placeholder="Tìm kiếm theo tên sản phẩm" name="searchString">
            <button type="submit">
                <i class="fa fa-search"></i>
                Tìm kiếm
            </button>}
    </div>

</div>
<h2>Order</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod)
            </td>
            <td>
                @Html.ActionLink("Details", "Orderdetail", new { id = item.OrderID }, new { @class = "action-button details-button" })
                @if (item.Status == "Pending")
                {
                    @Html.ActionLink("Confirm", "ConfirmOrder", new { id = item.OrderID })
                }
            </td>
        </tr>
    }

</table>
<style>
    .action-button {
        padding: 5px 10px;
        margin: 0 3px;
        border-radius: 4px;
        text-decoration: none;
        font-weight: 500;
        transition: all 0.2s ease;
        display: inline-block;
        border: 1px solid;
    }

    /* Nút Details */
    .details-button {
        color: #4CAF50;
        border-color: #4CAF50;
        background-color: transparent;
    }

        .details-button:hover {
            background-color: #4CAF50;
            color: white;
        }

</style>
