@model cellphones.Models.User

@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/Signup.cshtml";
}

<h2>ForgetPassword</h2>

@using (Html.BeginForm("forgetPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h2 style="text-align:center ">Quên mật khẩu</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tìm tài khoản" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

@if (ViewBag.Success != null)
{
    <div class="alert alert-success">
        @ViewBag.Success
    </div>
}

@if (ViewBag.MatchingAccounts != null)
{
    <h3>Các tài khoản tìm thấy:</h3>
    <table class="table">
        <tr>
            <th>Mã người dùng</th>
            <th>Họ</th>
            <th>Tên</th>
            <th>Email</th>
            
        </tr>
        @foreach (var account in ViewBag.MatchingAccounts)
        {
            <tr>
                <td>@account.UserID</td>
                <td>@account.FullName</td>
                <td>@account.Username</td>
                <td>@account.Email</td>
                <td>
                    @Html.ActionLink("Cập nhật mật khẩu", "UpdatePassword", "Account", new { email = account.Email }, null)
                </td>
            </tr>
        }
    </table>
}
